@page "/user-role"
@attribute [Authorize(Roles = "/user-role")]
@using Erp.Services
@using Erp.Services.TransferService
@using AppBO.Models
@using System.Security.Claims
@using AppBO.ModelsApi
@using AppBO.Utility
@using static AppBO.Utility.Utility
@attribute [Authorize]
@inject IMessageService message;
@inject RoleTransferService tRole;
@inject RestService rest;

<PageTitle>User Role</PageTitle>

<Divider Text="User Role" Orientation="DividerOrientation.Left"></Divider>


<Table DataSource="@tRole.UserRoleAll"
       PageSize="50"
       AutoColIndexes="true"
       PaginationPosition="topLeft"
       Loading="loading"
       Size="TableSize.Small"
       AutoHeight>

    <PaginationTemplate>
        <Row Style="align-items: center">
            <Col Span="22">
            <Pagination Class="@(context.PaginationClass + " my-custom-pagination")"
                        Total="context.Total"
                        PageSize="context.PageSize"
                        Current="context.PageIndex"
                        ShowSizeChanger
                        OnChange="context.HandlePageChange" />
            </Col>
            <Col Span="2">
            <Flex Justify="FlexJustify.Center" Style="justify-content: center">
                @* <Button Type="ButtonType.Primary" OnClick="Reset">Reset</Button> *@
            </Flex>

            </Col>
        </Row>

    </PaginationTemplate>

    <EmptyTemplate>
        @if (loading == false)
        {
            <Empty Simple />
        }

    </EmptyTemplate>

    <ColumnDefinitions>
        <PropertyColumn Property="c=>c.ApplicationUserId" Title="Id" Sortable Filterable Width="80" />
        <PropertyColumn Property="c=>c.FullName" Title="User Name" Ellipsis Sortable Filterable Width="240" />
        <PropertyColumn Property="c=>c.Phone" Title="Mobile" Filterable Width="140" />
        <ActionColumn Title="Action">
            @foreach (var item in context.Roles)
            {
                bool isDisabled = context.ApplicationUserId == 0 ? true : false;

                <Checkbox Size="InputSize.Large"
                Label="@item.RoleTitle"
                Value="@item.Status"
                Disabled="@isDisabled"
                Style="user-select: none; margin: 10px"
                OnChange="(val)=>CheckChanged(context, item.RoleId, val)" />
            }
        </ActionColumn>
    </ColumnDefinitions>
</Table>

@code {
    private bool loading { get; set; } = false;
    private string txtValue { get; set; } = "0";
    public ClaimsPrincipal User;

    [CascadingParameter]
    protected Task<AuthenticationState> AuthStat { get; set; }
    public string Token { get; set; }

    protected async override Task OnInitializedAsync()
    {
        User = (await AuthStat)?.User;
        Token = User.FindFirst("Token")?.Value;

        if (!tRole.UserRoleAll.Any())
        {
            loading = true;

            StateHasChanged();

            List<UserRoleAllRes> result = await rest.GET($"/api/role/get-user-role-all?ApplicationUserId={txtValue}", Token)
            .ToModel<List<UserRoleAllRes>>();

            if (result.Count > 0)
            {
                tRole.UserRoleAll = result;
            }

            loading = false;
            StateHasChanged();
        }
    }

    public async void CheckChanged(UserRoleAllRes userRoleAll, long RoleId, bool value)
    {
        if (userRoleAll.ApplicationUserId == 0)
        {
            return;
        }

        foreach (var item in userRoleAll.Roles)
        {
            if (item.RoleId == RoleId)
            {
                item.Status = value;
            }else
            {
                item.Status = false;
            }
        }

        var roleNew = userRoleAll.Roles
            .Where(m => m.Status == true)
            .Select(m => new
            {
                ApplicationUserId = userRoleAll.ApplicationUserId,
                RoleId = (long)m.RoleId // Ensure RoleId is long
            })
            .ToList();

        // If roleNew is empty, add an entry ensuring RoleId is long
        if (!roleNew.Any())
        {
            roleNew.Add(new { ApplicationUserId = userRoleAll.ApplicationUserId, RoleId = 0L }); // Use 0L to make it long
        }

        string key = $"updatable-{DateTime.Now.Ticks}";
        var config = new MessageConfig()
            {
                Content = "Applying...",
                Key = key,
                Duration = 0
            };
        _ = message.Loading(config);

        ApiResponse result = await rest.POST($"/api/role/save-user-role", roleNew, Token);
        config.Duration = 1;

        if (result.Status == true)
        {
            config.Content = "Apply success!";
            _ = message.Success(config);
        }
        else
        {
            config.Content = "Apply fail";
            _ = message.Error(config);
        }

    }
}
